<div class="header">
  <div class="header__technical">
      I am a hard working full-stack software engineer focusing on JavaScript web applications using React or Angular 7 with Node.js and Express. I work with MongoDB and SQL databases, particularly PostgreSQL. I have good analytical skills and enjoy solving tough problems. I am always learning new skills and new technologies to improve my professional abilities.
  </div>
  <div class="header__interests">
    Other things that I enjoy are cooking, as I was a professional chef prior to working in tech. I also enjoy MMA, and don't miss a single UFC event. I have always been interested in traveling and other cultures, having lived in 5 different countries and doing a road trip across the majority of the USA.
  </div>
  <div class="header__nav">
    To check out the thing I have been learning, use the button on the sidebar.
  </div>
</div>
