<div class="about-me">
  <div class="about-me__image">
      <img src="../../assets/meMoracco.jpg" alt="Me">
  </div>
  <h3 class="heading-3">Roman Gorelik</h3>
  <div class="about-me__list">
      <i class="fas fa-map-pin about-me__icon"></i>
      <div class="about-me__detail">Staten Island, NY</div>

      <i class="fas fa-phone about-me__icon"></i>
      <div class="about-me__detail">718-813-2967</div>

      <i class="fas fa-envelope-open-text about-me__icon"></i>
      <div class="about-me__detail">romang31@gmail.com</div>

      <i class="fab fa-github about-me__icon"></i>
      <div class="about-me__detail"><a href='https://github.com/romangorelik' target="_blank">github.com/romangorelik</a></div>

      <i class="fab fa-linkedin-in about-me__icon"></i>
      <div class="about-me__detail"><a href='https://www.linkedin.com/in/roman-gorelik/' target="_blank">linkedin.com/in/roman-gorelik</a></div>
  </div>
</div>


