// COLOR VARIABLES
$color-primary: #EDD4B2;
$color-primary-light: #ECDCC9;

$color-secondary: #D0A98F;

$color-tertiary: #4D243D;

$color-quaternary: #F8FF49;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;