<section class="gallery">
  <figure class="gallery__item gallery__item--1">
    <a href='https://github.com/romangorelik/whereyouat' class='gallery__link' target="_blank"><img src="../../assets/whereyouat.png" alt="Where You At" class="gallery__img"></a>
  </figure>

  <figure class="gallery__item gallery__item--2">
    <a href='https://github.com/romangorelik/BankClone' class='gallery__link' target="_blank"><img src="../../assets/bankclone.png" alt="BankClone" class="gallery__img"></a>
  </figure>

  <figure class="gallery__item gallery__item--3">
    <a href='https://github.com/romangorelik/G-V' class='gallery__link' target="_blank"><img src="../../assets/gv.png" alt="G & V Auto Clinic" class="gallery__img"></a>
  </figure>

  <figure class="gallery__item gallery__item--4">
    <a href='https://github.com/team-marquez/thesis' class='gallery__link' target="_blank"><img src="../../assets/meili.png" alt="Meili" class="gallery__img"></a>
  </figure>

  <figure class="gallery__item gallery__item--5">
    <a href='https://github.com/romangorelik/NailedIt' class='gallery__link' target="_blank"><img src="../../assets/nailedIt.png" alt="Nailed It" class="gallery__img"></a>
  </figure>

  <figure class="gallery__item gallery__item--6">
    <a href='https://github.com/romangorelik/TeamInfo' class='gallery__link' target="_blank"><img src="../../assets/teamstats.png" alt="Team Stats" class="gallery__img"></a>
  </figure>

</section>
