@import 'abstracts/variables';

.sidebar-container {
  background-color: $color-secondary;
  min-height: 100vh;
  grid-column: 1 / 2;
  grid-row: 1 / -1;

  z-index: 2;
}

.sidebar {
  position: relative;
  display: flex;
  justify-content: center;

  &__checkbox {
    display: none;
  }

  &__btn {
    height: 5rem;
    width: 5rem;
    border: 5px solid $color-primary;
    border-radius: 50%;
    display: inline-block;
    position: fixed;
    top: 5rem;

    transition: all .5s;
    z-index: 30;

    &::after {
      content: '';
      display: block;
      height: 2.5rem;
      width: 2.5rem;
      border-radius: 50%;
      background-color: $color-primary;
      cursor: pointer;

      position: absolute;
      top: 50%;
      left: 50%;

      transform: translate((-50%, -50%)) scale(1);
      transition: background-color .3s ease-in, transform .5s ease;
    }

    &:hover::after {
      background-color: $color-secondary;
      transform: translate((-50%, -50%)) scale(1.1);
      box-shadow: 1px 1px 1rem rgba(#000, .8);
    }

    &:active::after {
      background-color: $color-secondary;
      transform: translate((-50%, -50%)) scale(1);
      box-shadow: .5px .5px 1rem rgba(#000, .8);
    }
  }

  &__nav {
    height: 200vh;
    position: fixed;
    background-image: linear-gradient(to top left, $color-primary, $color-secondary);
    top: 0;
    left: 0;
    z-index: 10;

    transition: all .3s ease-in-out;

    opacity: 0;
    visibility: hidden;
    width: 0;

    display: flex;
    justify-content: center;
  }

  &__list {
    margin-top: 30vh;
    list-style: none;
    text-align: center;
  }

  &__item {
    margin: 1rem;
    font-size: 2rem;
    color: $color-tertiary; 
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
  }

  &__checkbox:checked~&__nav {
    opacity: 1;
    visibility: visible;
    width: 100%;
  }
}
