<div class="skill">
  <i class="fab fa-react skill__icon skill__icon--react"></i>
  <h4 class="heading-4">{{skills[0].tech}}</h4>
  <p class="skill__text">{{skills[0].summary}}</p>
</div>

<div class="skill">
  <i class="fab fa-angular skill__icon skill__icon--angular"></i>
  <h4 class="heading-4">{{skills[1].tech}}</h4>
  <p class="skill__text">{{skills[1].summary}}</p>
</div>


<div class="skill">
  <i class="fab fa-sass skill__icon skill__icon--scss"></i>
  <h4 class="heading-4">{{skills[2].tech}}</h4>
  <p class="skill__text">{{skills[2].summary}}</p>
</div>


<div class="skill">
  <i class="fab fa-node-js skill__icon skill__icon--nodejs"></i>
  <h4 class="heading-4">{{skills[3].tech}}</h4>
  <p class="skill__text">{{skills[3].summary}}</p>
</div>


<div class="skill">
  <i class="fas fa-database skill__icon skill__icon--db"></i>
  <h4 class="heading-4">{{skills[4].tech}}</h4>
  <p class="skill__text">{{skills[4].summary}}</p>
</div>


<div class="skill">
  <i class="fab fa-cloudversify skill__icon skill__icon--cloud"></i>
  <h4 class="heading-4">{{skills[5].tech}}</h4>
  <p class="skill__text">{{skills[5].summary}}</p>
</div>

