<div class="skill">
  <i class="fab fa-react skill__icon skill__icon--react"></i>
  <h4 class="heading-4">React</h4>
  <p class="skill_text">Use both React and Redux to create dynamic single web page application, using good SEO practices, as well as creating reusable components. I have implemented both the classic React and React hooks, as well as using Redux to create a global store.</p>
</div>

<div class="skill">
  <i class="fab fa-angular skill__icon skill__icon--angular"></i>
  <h4 class="heading-4">Angular</h4>
  <p class="skill_text">Use both React and Redux to create dynamic single web page application, using good SEO practices, as well as creating reusable components. I have implemented both the classic React and React hooks, as well as using Redux to create a global store.</p>
</div>


<div class="skill">
  <i class="fab fa-sass skill__icon skill__icon--scss"></i>
  <h4 class="heading-4">SCSS</h4>
  <p class="skill_text">Use both React and Redux to create dynamic single web page application, using good SEO practices, as well as creating reusable components. I have implemented both the classic React and React hooks, as well as using Redux to create a global store.</p>
</div>


<div class="skill">
  <i class="fab fa-node-js skill__icon skill__icon--nodejs"></i>
  <h4 class="heading-4">NodeJS</h4>
  <p class="skill_text">Use both React and Redux to create dynamic single web page application, using good SEO practices, as well as creating reusable components. I have implemented both the classic React and React hooks, as well as using Redux to create a global store.</p>
</div>


<div class="skill">
  <i class="fas fa-database skill__icon skill__icon--db"></i>
  <h4 class="heading-4">Databases</h4>
  <p class="skill_text">Use both React and Redux to create dynamic single web page application, using good SEO practices, as well as creating reusable components. I have implemented both the classic React and React hooks, as well as using Redux to create a global store.</p>
</div>


<div class="skill">
  <i class="fab fa-aws skill__icon skill__icon--aws"></i>
  <h4 class="heading-4">AWS</h4>
  <p class="skill_text">Use both React and Redux to create dynamic single web page application, using good SEO practices, as well as creating reusable components. I have implemented both the classic React and React hooks, as well as using Redux to create a global store.</p>
</div>

