@import 'abstracts/variables';
@import 'abstracts/mixins';

.about-me-container {
  background-color: $color-primary;
  grid-column: col-start 7 / full-end;
  padding: 3rem;

}

.about-me {
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;

  &__image {
    max-width: 15rem;
    max-height: 15rem;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    overflow: hidden;
    margin-bottom: 2.5rem;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__list {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: min-content max-content;
    grid-gap: 2rem;
    align-items: center;


    @include respond(phone) {
      text-align: center;
      grid-row-gap: 1rem;
      grid-template-columns: min-content;
    }
  }

  &__icon {
    font-size: 1.6rem;
    color: $color-tertiary;
  }

  &__detail {
    color: $color-tertiary;
    font-size: 1.6rem;

    a:link,
    a:visited {
      text-decoration: none;
      color: currentColor;
    }
  }

}
