<div class="about-me">
  <div class="about-me__image">
      <img src="../../assets/meMoracco.jpg" alt="Me">
  </div>
  <h3 class="heading-3">Roman Gorelik</h3>
  <div class="about-me__list">
      <i class="fas fa-map-pin about-me__icon"></i>
      <div class="about-me__detail">{{location}}</div>

      <i class="fas fa-phone about-me__icon"></i>
      <div class="about-me__detail">{{phone}}</div>

      <i class="fas fa-envelope-open-text about-me__icon"></i>
      <div class="about-me__detail">{{email}}</div>

      <i class="fab fa-github about-me__icon"></i>
      <div class="about-me__detail"><a href='https://github.com/romangorelik' target="_blank">{{github}}</a></div>

      <i class="fab fa-linkedin-in about-me__icon"></i>
      <div class="about-me__detail"><a href='https://www.linkedin.com/in/roman-gorelik/' target="_blank">{{linkedin}}</a></div>
  </div>
</div>


