@import '../../LandingPage/sidebar/sidebar.component.scss';
@import '../../title/title.component.scss';
@import '../bigo-form/bigo-form.component.scss';
@import '../bigo-stories/bigo-stories.component.scss';

.container {
  display: grid;
  grid-template-rows: 20vh min-content min-content;
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}